.header {
  width: 100vw;
  height: 95vh;
  background: url("./../assets/portfolio.webp") no-repeat;
  background-size: cover;
}

.header .Nom {
  width: 40%;
  margin: auto;
  padding-top: 20vh;
  font-family: sans-serif;
  color: white;
}

.header .Nom h1 {
  font-size: 7rem;
}

.header .Nom p {
  font-size: 3rem;
  font-weight: bold;
}
.header .Nom span {
  color: aqua;
}

.header .Nom button {
  border: none;
  padding: 20px;
  font-size: 20px;
  border-radius: 20px/50px;
  margin-top: 15px;
  background-color: purple;
  color: white;
}
